[Unit]
Description=Uvicorn instance to serve learning_lab1 project [1]
After=network.target

[Service]
User=gpraskura
Group=www-data
WorkingDirectory=/home/gpraskura/Projects/Learning/lab_1__python_with_load_balancer
Environment="PATH=/home/gpraskura/Projects/Learning/lab_1__python_with_load_balancer/.venv/bin"
Environment="REPLICA=1"
ExecStart=/home/gpraskura/Projects/Learning/lab_1__python_with_load_balancer/.venv/bin/uvicorn main:app --port=8000

[Install]
WantedBy=multi-user.target
